html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 500px;
}

.container-narrow > hr {
    margin: 20px 0;
}

.strong {
    font-weight: bold;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    text-align: center;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    padding-top: 1px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
    margin-left: 20px;
}

.footer-links li:first-child {
    padding-left: 0;
    margin-left: 0;
}

#search-box {
    margin-top: 20px;
}

#search {
    height: 3em;
}

#games-list, #game {
    text-align: left;
}

#header a {
    text-decoration: none;
    color: black;
}

#games-list-links {
    background: white;
    padding-bottom: 5px;
    max-width: 500px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 0.97) 67%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, rgba(255, 255, 255, 1)), color-stop(67%, rgba(255, 255, 255, 0.97)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 0.97) 67%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 0.97) 67%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 0.97) 67%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 0.97) 67%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.game-effort-niedrig {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
}

.game-effort-mittel {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #c09853;
}

.game-effort-hoch {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
}

input[type="text"].numbers, input[type="number"].numbers {
    width: 40px;
}

#games-list-links.stuck {
    position: fixed;
    top: 0;
}

.typeahead {
    text-align: left;
}

#header.smaller h4 {
    font-size: 13px;
}

#header.smaller h4 img {
    width: 30px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
