{% extends "base.html.twig" %}

{% block body %}
    <h3>Impressum</h3>

    <p>
        Katholische Jungschar Erzdiözese Wien<br/>
        Stephansplatz 6/6.18, 1010 Wien<br/>
        Tel: 01 51552 3396<br/>
        E-mail: <a href="mailto:dlwien@jungschar.at">dlwien@jungschar.at</a><br/>
        DVR 0029874(101)
    </p>
    <p>Programmierung: <a href="http://www.steviec.at">Stefan Csizmazia</a>, <a href="http://www.steviec.at">www.steviec.at</a>
    </p>
    <p>Erstellt mit Unterstützung der MA13 - Landesjugendreferat</p>
{% endblock %}
